.footer-container{
    background-color: #003580;
    width: 100%;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    justify-items: center;
}
.logo-footer{
    margin-top: 20px;
}
.list-content-footer{
    padding: 50px 20px 20px 10px;
    color: white;
    text-align: center;
}
.list-content-footer strong{
    padding: 40px;
}
.coppyright{
    height: 30px;
    line-height: 100%;
}
.list-ul-footer{
    padding: 0;
    padding-top: 5px;
}